<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Urban art fair app.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1CAC7A741D1AD60F0088F0E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CAC7A8A1D1AD6100088F0E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CAC7A951D1AD6100088F0E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
